header{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
}

.header-text{
    position: absolute;
    height: 45px;
    left: 420px;
    right: 43px;
    top: 180px;

    font-family: 'Ruslan Display', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 39px;
    
    color: #787DFA;
}