#header-text{
    position: absolute;
    height: 45px;
    left: 420px;
    right: 43px;
    top: 180px;

    font-family: 'Ruslan Display', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 39px;
    
    color: #787DFA;
}

.program {
    width: 615px;
    height: 432px;
    margin: 20px;

    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.88));
}

#program-text{
    position: absolute;
    width: 162px;
    height: 35px;
    left: 28px;
    bottom: 84px;
    
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 5px rgba(77, 77, 77, 0.92);